/* Sign-In Page Styles */
body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: white;
  
}
.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  border: none;
}

.signin-form {
  
  padding: 40px;
  border-radius: 5px;
  text-align: center;
  max-width: 500px;
  height: 600px;
  margin: auto;
  width: 100%;
  border: none;
}

.form-logo {
  width: 500px;
  margin-bottom: 20px;
}

.signin-form label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  color: #333;
  font-size: 18px;
  font-weight: 500;
}

.signin-form input[type="email"],
.signin-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
} 

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
  margin-top: none;
  margin-bottom: 0;
}

.captcha {
  background-color: #eee;
  padding: 3px;
  margin-top: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.signin-form .btn {
  width: 100%;
  padding: 12px;
  background-color: #6932e0;
  color: #fff;
  border: none;
  font-weight: 600;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: none;
}

.signin-form .google-btn {
  width: 100%;
  padding: 12px;
  font-weight: 600;
  font-size: 15px;
  background-color:none;
  color: #0c0a0a;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}


.create-account {
  margin-top: 5px;
}

.create-account a {
  color: #007bff;
  margin-top: none;
  text-decoration: none;
}
.ps{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: none;
}
