/* General Styles */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

/* Navigation Bar */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f0f0;
  color:black;
  padding: 10px 20px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  color: black;
  font-weight: 600;
}
.nav-left-r{
  margin: 10px;
  display: flex;
}
.nav-left a,
.nav-right a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  margin-right: 5px;
}
.nav-right{
  display: flex;
}

.signin{
  background-color:#f1f0f0;
  padding: 10px 12px;
  border-radius: 5px;
  color:#007bff;
  width:80px;
  align-items: centre;
  margin:None;
  font-weight: 600;
}
.signup{
  background-color: #007bff;
  padding:10px 10px;
  border-radius: 5px;
  font-size: 15px;
  width:80px;
  font-weight: 600;
  /* align-items: centre; */
}


.logo {
  width: 15%;
  margin-right: 5px;
}
.logo1{
  width: 60%;
  margin-top: 20px;
}

/* Dropdown Menu */
.dropdown {
  position: relative;
  display: inline-block;

}

.dropbtn {
  /* background-color:; */
  font-size:17px;
  /* font-weight: 300; */
  color: black;
  border: none;
  cursor: pointer;
  padding: 0px;
  display: flex;
  margin-top: 8px;
  margin-right: 8px;
}
.icon{
  margin-top: 2.5px;
  color: #000000;
  /* margin-bottom: 2px; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(143, 132, 132);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Body Content */
main {
  padding: 20px;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.img-sty-div{
  margin-top: 20px;
  padding: 0 20px;
}
.img-sty{
  width: 60px;
  height: 60px;
}
.container{
  margin: 50px 100px;
  /* margin:50px 80px; */

  /* justify-content: space-between; */
}
.box {
  background-color: #fff;
  padding: 5px;
  margin:0 20px;
  border: 1px solid #ddd;
  width: 700px;
  height: 300px;
  border-radius: 18px;
  border-width: 2px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.box1{
  background-color: #fff;
  padding: 5px;
  margin:0 20px;
  border: 1px solid #ddd;
  width: 370px;
  height: 300px;
  border-radius: 18px;
  border-width: 2px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.h5-c{
  font-weight:700;
  font-size: 20px;
  color: rgb(56, 52, 52);
  padding: 0;
  margin-top: 5px;
  margin-left: 15px;
  text-align: left;
}
.cc{
  text-align: left;
  margin-left: 15px;
  font-size: 16px;
  color:rgb(108, 101, 101) ;
  font-weight: 500;
}
.btn-c{
   text-align: left;
   margin-left: 10px;
}
.btn-r{
  border-radius: 18px;
  color:white;
  background-color: #007bff;
  border: none;
  padding: 10px 35px;
}
.btn-d{
  border-radius: 18px;
  color:white;
  background-color: rgb(206, 69, 69);
  border: none;
  padding: 10px 35px;
  font-weight: 500;
}
/* FAQ Section */
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
} */

.wrapper {
  max-width: 85%;
  margin: auto;
}

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}
.ff{
  text-align: left;
}
.wrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 0.9rem;
  width: 100%;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion i {
  font-size: 1.6rem;
}

.active,
.accordion:hover {
  background-color: #f1f7f5;
}
.pannel {
  padding: 0 2rem 1.5rem 2rem;
  background-color: white;
  overflow: hidden;
  background-color: #f1f7f5;
  display: none;
}
.pannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* display: flex; */
  margin: 10px 0; 
  justify-content: space-between;
}
.faq.active {
  border: none;
}



/* .faq-btn:hover + .faq-content,
.faq-content:hover {
  display: block;
}  */
.endd a{
  width: 100%;
  height: 50%;
  align-items:center ;
}
.end{
  display: flex;
  text-align: left;
  max-width: 85%;
  margin: auto;
  justify-content: space-between;
}
.end-h{
  font-weight: 500;
  margin-bottom: 20px;
}
.end-c a{
  text-decoration: none;
  display: block;
  color: black;
  margin-bottom: 10px;
}

/* Footer Links */
.socialicons{
  margin-top: 30px;
}
.socialicons i{
  font-size: 22px;
  margin: 5px;
  cursor: pointer;
}
.footer1 {
  width: 80%;
  margin: 20px auto;
  display: flex;
}
.col1{
  margin-top: 20px;
  text-align: left;
  width: 30%;
}
.col1-p{
  text-align: left;
  width: 60%;
}
.col2{
  text-align: left;
  width: 80%;
}
